/.idea/.gitignore
/.idea/.name
/.idea/sonarlint/issuestore/0/c/0cd9690d622794a2d011701601320a3bf760cf4d
/.idea/sonarlint/issuestore/0/f/0f650c81b5f2890a351d073600c4ae84c024d6c5
/.idea/sonarlint/issuestore/2/a/2afbb999f001938c88fa43fc2ef52abf0f8213e4
/.idea/sonarlint/issuestore/2/b/2b491477992bc52d3dec256f10ce76779aad10a1
/.idea/sonarlint/issuestore/2/d/2d67b1f444a743e416da05152c4ef7b44863ad32
/.idea/sonarlint/issuestore/4/f/4f2681431a37fdadb3f92c36d282d7948f853384
/.idea/sonarlint/issuestore/0/5/05efc8b1657769a27696d478ded1e95f38737233
/.idea/sonarlint/issuestore/0/6/06a3540c7bedc7c7328abb53fc741ba8753f2d34
/.idea/sonarlint/issuestore/7/b/7b4b7426d5d56b1647751cf1a1b8527fbb19f41f
/.idea/sonarlint/issuestore/7/f/7f233c4e02a109c591c4adcf563c175e6a0a604b
/.idea/sonarlint/issuestore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
/.idea/sonarlint/issuestore/9/d/9ddc191a83ed3f10e70528395837cd4a4161aa81
/.idea/sonarlint/issuestore/9/e/9e08934d811afe28fbc77aaa3c0d747b94348db9
/.idea/sonarlint/issuestore/1/6/16cc6c7b1ca7c3b8ce52b5f86e6a055994442d45
/.idea/sonarlint/issuestore/1/7/17dc526cc3881a49ef9a95674ac754b2e88c0c1a
/.idea/sonarlint/issuestore/3/9/39dbf776418001d2e690d14a080c5364e20f04a1
/.idea/sonarlint/issuestore/4/7/47ebd2c17074731f94effc2bb2e3b82c17924d6b
/.idea/sonarlint/issuestore/7/5/75b8f57de7daaf0e3227ec348cf061a08dc66bad
/.idea/sonarlint/issuestore/8/9/89ad6412b3deff50626258c28a25693301fbc62e
/.idea/sonarlint/issuestore/9/5/95e0e5eea12ede68d90dd3bd9cc113b53ca06f3f
/.idea/sonarlint/issuestore/1/2/123e24fd3abf7c06049247c0bb9b8b1d2c3d632e
/.idea/sonarlint/issuestore/1/3/132f4e090bc832b612546bc1ec70afb0b18bf22e
/.idea/sonarlint/issuestore/2/3/236a9ac0d7304deab2e6c437c7e1c689b1681af2
/.idea/sonarlint/issuestore/4/2/422ce3c9a863fe533817e3332626732addbad8de
/.idea/sonarlint/issuestore/5/2/527d898ee469d1aa8bcf90e3c48fae75f5919f2e
/.idea/sonarlint/issuestore/8/1/816bc0e0e352a3cd2fbb70b80d8df7d2c07fd71a
/.idea/sonarlint/issuestore/8/7/871abb824c0822553e516f0ece9883bc7c681c3b
/.idea/sonarlint/issuestore/1/1/1171de3dc61d4c1af07fafd747f839b36bc55a58
/.idea/sonarlint/issuestore/6/4/6478c3829fc7b1fe8f2c0c053de04972772f2c46
/.idea/sonarlint/issuestore/9/2/9274e81606a690e1f1a3bf28b9f59640f6c6becb
/.idea/sonarlint/issuestore/a/1/a17a30076d43cad34a1827a7735773d348d6cdb4
/.idea/sonarlint/issuestore/a/1/a161cec217d2769fb22207c445760262eaa642f3
/.idea/appInsightsSettings.xml
/.idea/assetWizardSettings.xml
/.idea/sonarlint/issuestore/b/6/b632b32143b7ef5059638ddd376d89e2f5ef1fc9
/.idea/sonarlint/issuestore/b/f/bf5208969c474ebaf1dedc819c00402f1f059fe3
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.idea/sonarlint/issuestore/c/4/c4a26c5b825cbec0748845f364da8ec31f897d2a
/.idea/sonarlint/issuestore/c/2/c20df0b18f57d002e2baab35084d18098f1b8140
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.0/checksums/checksums.lock
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/config.properties
/.idea/sonarlint/issuestore/d/2/d2a998864bc56881c009ce690b1f117b66e0fb2a
/.idea/sonarlint/issuestore/d/0/d0468a44b138c5660fe266295108f5813f9b768c
/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
/.idea/deploymentTargetSelector.xml
/.idea/modules/app/Digital_Interactive_Book.app.iml
/.idea/modules/app/Digital_Interactive_Book.app.main.iml
/.idea/modules/app/Digital_Interactive_Book.app.unitTest.iml
/.idea/modules/Digital_Interactive_Book.iml
/.idea/sonarlint/issuestore/e/6/e6e825904c045ba28cd67fbd7bafaebb841be004
/.idea/sonarlint/issuestore/e/0/e06692817500711c693008e4e300f53bce72a6a8
/.idea/sonarlint/issuestore/e/d/ed43c503546c4d781e907fe847169079795fd0f9
/.gradle/8.0/executionHistory/executionHistory.bin
/.gradle/8.0/executionHistory/executionHistory.lock
/.idea/sonarlint/issuestore/f/2/f2b23c50a49ec0761143a905e0489403a346bda0
/.idea/sonarlint/issuestore/f/0/f07866736216be0ee2aba49e392191aeae700a35
/.idea/sonarlint/issuestore/f/b/fbe448ebfc3eb2d4e308f6b8b043666f5b57235e
/.idea/sonarlint/issuestore/f/e/feea98a4248d73f1437e8752a5c5a2374c386a77
/.gradle/file-system.probe
/.gradle/8.0/fileHashes/fileHashes.bin
/.gradle/8.0/fileHashes/fileHashes.lock
/.gradle/8.0/dependencies-accessors/gc.properties
/.gradle/8.0/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/libraries/Gradle__androidx_activity_activity_1_5_1_aar.xml
/.idea/libraries/Gradle__androidx_activity_activity_ktx_1_5_1_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_1_3_0.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_5_1_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_5_1_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_2_0.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/.idea/libraries/Gradle__androidx_collection_collection_ktx_1_1_0.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_8_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_6_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_8_0_aar.xml
/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_databinding_viewbinding_7_4_2_aar.xml
/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_3_2_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_5_2_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_5_2_aar.xml
/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_5_1.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_java8_2_3_1.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_java8_2_5_1.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_3_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_ktx_2_3_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_ktx_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_5_1_aar.xml
/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_common_2_5_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_5_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_5_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_5_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_5_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_5_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_5_2_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_5_2_aar.xml
/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_room_room_common_2_6_1.xml
/.idea/libraries/Gradle__androidx_room_room_ktx_2_6_1_aar.xml
/.idea/libraries/Gradle__androidx_room_room_runtime_2_6_1_aar.xml
/.idea/libraries/Gradle__androidx_room_room_rxjava2_2_6_1_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_ktx_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_security_security_crypto_1_1_0_alpha01_aar.xml
/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_sqlite_sqlite_2_4_0_aar.xml
/.idea/libraries/Gradle__androidx_sqlite_sqlite_framework_2_4_0_aar.xml
/.idea/libraries/Gradle__androidx_startup_startup_runtime_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_startup_startup_runtime_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_4_1_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_work_work_runtime_2_7_1_aar.xml
/.idea/libraries/Gradle__androidx_work_work_runtime_ktx_2_7_1_aar.xml
/.idea/libraries/Gradle__ch_acra_acra_core_5_8_4_aar.xml
/.idea/libraries/Gradle__ch_acra_acra_javacore_5_8_4.xml
/.idea/libraries/Gradle__ch_acra_acra_toast_5_8_4_aar.xml
/.idea/libraries/Gradle__com_airbnb_android_lottie_3_4_0_aar.xml
/.idea/libraries/Gradle__com_akexorcist_round_corner_progress_bar_2_1_2_aar.xml
/.idea/libraries/Gradle__com_facebook_shimmer_shimmer_0_5_0_aar.xml
/.idea/libraries/Gradle__com_github_barteksc_android_pdf_viewer_3_0_0_beta_5_aar.xml
/.idea/libraries/Gradle__com_github_barteksc_pdfium_android_1_8_2_aar.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_12_0.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_12_0.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_12_0_aar.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_12_0_aar.xml
/.idea/libraries/Gradle__com_github_cachapa_ExpandableLayout_2_9_2_aar.xml
/.idea/libraries/Gradle__com_github_chuckerteam_chucker_library_3_5_2_aar.xml
/.idea/libraries/Gradle__com_github_douglasjunior_android_simple_tooltip_1_1_0_aar.xml
/.idea/libraries/Gradle__com_github_frhnfrq_MathView_1_2_aar.xml
/.idea/libraries/Gradle__com_github_hyuwah_DraggableView_1_0_0_aar.xml
/.idea/libraries/Gradle__com_github_PhilJay_MPAndroidChart_v3_1_0_aar.xml
/.idea/libraries/Gradle__com_github_takusemba_multisnaprecyclerview_2_0_1_aar.xml
/.idea/libraries/Gradle__com_github_worker8_RadioGroupPlus_1_0_1_aar.xml
/.idea/libraries/Gradle__com_google_android_datatransport_transport_api_3_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_datatransport_transport_backend_cct_3_1_8_aar.xml
/.idea/libraries/Gradle__com_google_android_datatransport_transport_runtime_3_1_8_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_ads_identifier_18_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_base_18_0_1_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_18_1_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_cloud_messaging_17_0_1_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_21_2_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_api_21_2_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_base_21_2_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_impl_21_2_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_21_2_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_api_21_2_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_stats_17_0_2_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_18_0_1_aar.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_4_0_aar.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_9_0.xml
/.idea/libraries/Gradle__com_google_dagger_dagger_2_44.xml
/.idea/libraries/Gradle__com_google_dagger_dagger_lint_aar_2_44_aar.xml
/.idea/libraries/Gradle__com_google_dagger_hilt_android_2_44_aar.xml
/.idea/libraries/Gradle__com_google_dagger_hilt_core_2_44.xml
/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_9_0.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_21_2_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_ktx_21_2_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_annotations_16_1_0.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_common_20_2_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_common_ktx_20_2_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_components_17_0_1_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_crashlytics_18_3_1_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_crashlytics_ktx_18_3_1_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_datatransport_18_1_7_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_encoders_17_0_0.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_encoders_json_18_0_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_encoders_proto_16_0_0.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_iid_interop_17_1_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_installations_17_1_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_installations_interop_17_1_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_19_0_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_messaging_23_1_0_aar.xml
/.idea/libraries/Gradle__com_google_firebase_firebase_messaging_ktx_23_1_0_aar.xml
/.idea/libraries/Gradle__com_google_guava_listenablefuture_1_0.xml
/.idea/libraries/Gradle__com_ismaeldivita_chipnavigation_chip_navigation_bar_1_3_4_aar.xml
/.idea/libraries/Gradle__com_jakewharton_rxbinding3_rxbinding_3_0_0_aar.xml
/.idea/libraries/Gradle__com_makeramen_roundedimageview_2_3_0_aar.xml
/.idea/libraries/Gradle__com_pierfrancescosoffritti_androidyoutubeplayer_core_10_0_5_aar.xml
/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_4_9_0.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_4_9_0.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_urlconnection_3_12_10.xml
/.idea/libraries/Gradle__com_squareup_okio_okio_2_10_0.xml
/.idea/libraries/Gradle__com_squareup_picasso_picasso_2_71828_aar.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_adapter_rxjava2_2_6_1.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_9_0.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_9_0.xml
/.idea/libraries/Gradle__com_tbuonomo_dotsindicator_4_2_aar.xml
/.idea/libraries/Gradle__de_hdodenhof_circleimageview_3_1_0_aar.xml
/.idea/libraries/Gradle__io_coil_kt_coil_1_2_0_aar.xml
/.idea/libraries/Gradle__io_coil_kt_coil_base_1_2_0_aar.xml
/.idea/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_1_1_aar.xml
/.idea/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_2_10.xml
/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/.idea/libraries/Gradle__jp_wasabeef_glide_transformations_4_3_0_aar.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__junit_junit_4_13_2.xml
/.idea/libraries/Gradle__net_orandja_shadowlayout_shadowlayout_1_0_1_aar.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_23_0_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_8_20.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_parcelize_runtime_1_8_20.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_8_22.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_8_22.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_8_22.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_8_22.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_7_1.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_7_1.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_play_services_1_7_1.xml
/.idea/libraries/Gradle__org_jsoup_jsoup_1_10_3.xml
/.idea/libraries/Gradle__org_ocpsoft_prettytime_prettytime_4_0_4_Final.xml
/.idea/libraries/Gradle__org_reactivestreams_reactive_streams_1_0_2.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.gradle/8.0/fileChanges/last-build.bin
/.gradle/8.0/checksums/md5-checksums.bin
/.gradle/checksums/md5-checksums.bin
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/app/release/output-metadata.json
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/8.0/fileHashes/resourceHashesCache.bin
/.gradle/8.0/checksums/sha1-checksums.bin
/.gradle/checksums/sha1-checksums.bin
/.idea/vcs.xml
/.idea/modules/app/Digital_Interactive_Book.app.androidTest.iml
/.idea/AndroidProjectSystem.xml
/.idea/caches/deviceStreaming.xml
/.idea/runConfigurations.xml
/.idea/workspace.xml
